h1{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    margin: 0;
    /* background-color: rgb(247, 217, 246); */
    color: #242324;
}

label {
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}

#picker {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;
}

#picker:focus {
    border-color: #d0b1e7;
    box-shadow: 0 0 0 3px rgba(165, 109, 220, 0.2);
    outline: none;
}

option {
    background-color: #fff;
    color: #333;
    padding: 10px;
}

#result {
    margin-top: 30px;
    font-size: 1.1rem;
    background-color: white;
    max-width:500px;
    padding: 8px 16px 8px 16px;
    border-radius: 20px;
}

#chat{
    margin-left: 200px;
}