/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Page styling */
body {
    background-color: #161414;
    color: rgb(255, 255, 255);
    transition: all 2s;
    padding: 2em;
    margin: 1em;
}

body.switch {
    background-color: rgb(255, 255, 255);
    color: #161414;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 250px;
}

/* header {
    margin: 1em auto;
} */

main {
    display: flex;
    justify-content: space-evenly;
    /* margin: 1em auto; */
    flex-direction: column;
    margin-top: 30px;
}

main section {
    flex: 1;
}

a {
    text-decoration: none;
}

/* section li {
    padding-left: .5em;
} */

section a {
    line-height: 1em;
    display: inline-block;
    padding-bottom: 1em;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section a:hover {
    background-color: rgb(190, 190, 190);
    color: #161414;
}

section.switch a {
    color: #161414;
}

section.switch a:hover {
    background-color: #161414;
    color: rgb(235, 235, 235);
}

button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px;
    background-color: rgb(199, 199, 199);
    color: #161414;
    border: 1px solid transparent;
    border-radius: 100%;
}

button:hover {
    background-color: rgb(126, 126, 126);
    cursor: pointer;
}

button.switch {
    background-color: rgb(235, 235, 235);
    border-color: #161414;
    border-width: 2px;
}

button.switch:hover {
    background-color: rgb(126, 126, 126);
    color: rgb(235, 235, 235)
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    margin-top: 0px;
    display: inline;
}

.last {
    font-size: 2.5em;
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

footer{
    text-align: right;
    margin-top: 80px;
}

@media only screen and (min-width: 650px) {
   body {
    padding: 3em;
    margin: 3em;
   }

    main {
    display: flex;
    flex-direction: row;
    gap: 40px;
   }

   #bio {
    flex: 1;
   }

   #assignments {
    flex: 2;
   }

   button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px;
    background-color: rgb(199, 199, 199);
    color: #161414;
    border: 1px solid transparent;
    border-radius: 100%;
    }

    h1 {
        font-size: 3em;
    }

    .last {
        font-size: 3.5em;
    }

    #bio {
        max-width: 300px;
        min-width: 250px;
    }

    #assignments {
        max-width: 300px;
        min-width: 250px;
    }
}

@media only screen and (min-width: 960px) {
    body {
        padding: 4em;  
    }
    main {
        gap: 100px;
    }

    h1 {
        font-size: 5em;
    }

    .last {
        font-size: 6em;
    }

    #bio{
        max-width: 400px;
        min-width: 350px;
    }

    #assignments {
        max-width: 800px;
        min-width: 450px;
    }

    .toolong{
        display: flex;
        gap: 24px;
    }

    .left {
        flex: 1;
        max-width: 300px;
    }
    .right {
        flex: 1;
        max-width: 300px;
    }
}